<mat-toolbar color="primary">
  <span id="title" routerLink="/">{{title}}</span>

  <span fxFlex></span>
  <ng-container *ngIf="isLoggedIn">
    <button
      mat-icon-button
      *ngFor="let menuItem of menuItems"
      [matTooltip]="menuItem.toolTipText"
      [routerLink]="menuItem.routerLink"
      aria-label="menuItem.toolTipText">
      <mat-icon>{{menuItem.icon}}</mat-icon>
    </button>
  </ng-container>

  <a mat-button matTooltip="Login into app" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
  <div *ngIf="isLoggedIn">
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
  </div>

  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>
